* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
  color: #222;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: #111;
}
.logo span {
  color: #f97316; /* Orange */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #f97316;
}

.auth-buttons .signup,
.auth-buttons .signin {
  margin-left: 15px;
  padding: 8px 18px;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}
.signup {
  color: #222;
  border: 1px solid #ccc;
}
.signin {
  background: #f97316;
  color: #fff;
}
.signin:hover {
  background: #e25c0d;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.hero-left {
  max-width: 50%;
}

.hero-left h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}
.highlight {
  color: #f97316;
}

.hero-left p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
  max-width: 500px;
}

/* Search Box */
.search-box {
  display: flex;
  align-items: center;
  gap: 89px;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
.input span {
  display: block;
  font-size: 12px;
  color: #888;
}
.input strong {
  font-size: 14px;
  font-weight: 600;
}
.search-btn {
  background: #f97316;
  border: none;
  color: #fff;
  padding: 14px 24px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
}
.search-btn:hover {
  background: #e25c0d;
}

/* Right Side */
.hero-right {
  position: relative;
}
.hero-img {
  max-width: 420px;
  position: relative;
  z-index: 1;
}

.floating-card {
  position: absolute;
  background: #fff;
  padding: 12px 18px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  font-size: 14px;
  font-weight: 500;
  z-index: 2;
}
.card1 { top: 20%; left: -50px; }
.card2 { top: 10%; right: -50px; }
.card3 { bottom: 30%; left: -50px; }
.card4 { bottom: 15%; right: -50px; }

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #777;
  margin-top: 40px;
}
